body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    background: #FDFD96;
    height: 140px;
    justify-content: space-around;
    padding: 35px;
    margin: 0;
    align-items: center;
    border-bottom: 6px solid #654321;
    background-image: url(images/actcanvas.png);
    background-size:auto;
    background-position: center;
    }

.logo{
    font-size: 100px;
    color: #085308;
    padding: 16px;
    font-family: 'Aladin', cursive;
    -webkit-text-stroke: 2px rgb(238, 238, 238);
}

/* #C23B22; */

.links{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: 'Nova Mono', monospace;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 30px;
}

li{
    float: left;
    padding: 10px;
    font-size: 32px;
}

a{
    text-decoration: none;
    color: #014e01;
    -webkit-text-stroke: 1px rgb(236, 236, 236);
}