body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    background: #FDFD96;
    height: 70px;
    justify-content: space-around;
    padding: 35px;
    margin: 0;
    font-family: 'Gochi Hand', cursive;
    align-items: center;
    border-bottom: 9px dashed #654321;
}

.logo{
    font-size: 50px;
    color: #654321;
    padding: 16px;
}

/* #C23B22; */

.links{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 30px;
}

li{
    float: left;
    padding: 15px;
    font-size: 25px;
}

a{
    text-decoration: none;
    color: #654321
}